{% extends 'core/base.html' %}
{% load static %}

<!-- ETIQUETA DE TITULO -->
{% block title %}
Productos
{% endblock %}

<!-- ETIQUETA DE CSS -->

 {% block css-styles %}
  <link rel="stylesheet" href="{% static 'core/css/products-style.css' %}">
 {% endblock css-styles %}

<!-- ETIQUETA DE CONTENIDO -->
{% block content %}
<div class="main-box">
  <div class="title-products">
    <h2>Productos</h2>
  </div>
  <div class="form-container">
    <form name="formulario-productos" action="" class="agregar-producto">
      <label for="productos" >Categoría del producto:</label>
      <input type="text">
      <label for="productos">Nombre:</label>
      <input type="text">
      <label for="productos">Precio:</label>
      <input type="text">
      <label for="productos">Stock:</label>
      <input type="number">
      <label for="productos">Descripcion del producto:</label>
      <textarea class="form__textarea"></textarea>
      <button type="submit" class="btn-agregar">Agregar</button>
    </form>
  </div>
</div>

{% endblock %}